<h1>Cocktails#index</h1>
 <ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %> <%= link_to 'Show', cocktail, class: "btn bnt-flat btn-success" %></li>
  <% end %>
  </ul>

  <%= link_to 'New Cocktail', new_cocktail_path, class: "btn btn-primary" %>
</div>
